<nav>
  <div class="login_status">
    <a class="inactive" href="#Login">Login</a>
    <a class="active" href="#Logout">Logout</a>
  </div>

    <%= image_tag  ("chatlogo.png"), :class => "logo" %>

</nav>
<h1></h1>
<p></p>
<h2></h2>
<p></p>
<h3></h3>
